<a href="https://colab.research.google.com/github/Daniellucasgonzaga/Trabalho_Final_BCC19/blob/main/TrabalhoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UNIVERSIDADE FEDERAL DO ABC - UFABC
# BIBLIOTECA PARA UTILIZAÇÃO NA MATÉRIA DE BCE


BASES COMPUTACIONAIS DA CIÊNCIA

> Daniel Lucas de oliveira Gonzaga - 11202230634  
> Gabriel Souza Rocha - 11202232026

# Bases Conceituais de Energia
Esse Notebook tem o objetivo de ajudar na análise de dados de fontes energéticas de forma rápida com plotagem de gráficos utilizando a biblioteca Seaborn

# testando

In [17]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

#  plotar uma tabela com os dados

In [29]:
tabela = pd.read_csv('https://raw.githubusercontent.com/Daniellucasgonzaga/Trabalho_Final_BCC19/main/Bases%20de%20dados')
tabela

                                                 DatGeracaoConjuntoDados;AnoReferencia;MesReferencia;NomUF;SigUF;MdaPotenciaInstaladakW
2022-12-01;2006;12;ACRE;AC;141760                                                               50
2022-12-01;2006;12;ALAGOAS;AL;7626936                                                           50
2022-12-01;2006;12;AMAZONAS;AM;2105228                                                          60
2022-12-01;2006;12;AMAPA;AP;273950                                                               0
2022-12-01;2006;12;BAHIA;BA;8899100                                                             90
...                                                                                            ...
2022-12-01;2022;9 ;RIO GRANDE DO SUL;RS;9615303                                                 97
2022-12-01;2022;9 ;SANTA CATARINA;SC;5059767                                                    22
2022-12-01;2022;9 ;SERGIPE;SE;4891118                                                           40
2022-12-01;2022;9 ;S�O PAULO;SP;24408431                                                        47
2022-12-01;2022;9 ;TOCANTINS;TO;1968612                                                          0

[1318 rows x 1 columns]